$colours: (
  bgColor: #fcf7f9,
  primaryText: #4a3838,
  secondaryText: #ffaaad,
  pink: #d12148
);

@function getColor($colour-name) {
  @return map-get($colours, $colour-name);
}

#main-container {
  border: 1px solid lightgrey;
  padding: 2em 15em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  padding: 2em 10em;
  width: 100%;
  border-radius: 1em;
  background-color: getColor(bgColor);
  border-spacing: 1em;
  box-shadow: 1px 5px 0.5em rgba(136, 136, 136, 0.5);
}

tbody {
  tr {
    height: 2.5em;
  }
  td {
    margin: 1em;
    color: getColor(primaryText);

    &:first-child {
      font-weight: 900;
      color: white;
      background-color: getColor(pink);
      border-bottom-right-radius: 0.2em;
      border-top-left-radius: 0.2em;
    }
  }
}
