$mobileS: 320px;
$mobileM: 375px;
$mobileL: 420px;
$mobileTablet: 600px;
$tablet: 768px;
$desktop: 1024px;
@mixin mobileS {
  @media (min-width: #{$mobileS}) {
    @content;
  }
}

@mixin mobileTablet {
  @media (min-width:#{$mobileTablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
$colours: (
  bgColor: #fcf7f9,
  pink: #c9bdc5,
  red: #c2271f,
  green: #188f1c
);

@function getColor($colour-name) {
  @return map-get($colours, $colour-name);
}
